body {
    background-image: url('/assets/patternpad.svg');
    background-repeat: repeat;
}

h1 {
    font-size: x-large;
}

section,
header {
    background-color: var(--bg);
    border-radius: var(--card-radius);
    box-shadow: var(--shadow-dark);
}

#profile-section button {
    background-color: transparent;
    color: var(--danger);
    border: none;
    cursor: pointer;
    transition: var(--default-transition-timing-function);
    height: fit-content;
}

#profile-section .image-wrapper {
    position: relative;
    display: inline-block;
    max-width: 100%;
}

#profile-section .image-wrapper img {
    display: block;
    width: 100%;
    height: auto;
    width: 180px;
    aspect-ratio: 1/1;
    object-fit: cover;
    overflow: hidden;
    border-radius: 100%;
    box-shadow: var(--shadow-dark);
}


#delete-image-button:hover {
    background-color: #c82333;
    transform: scale(1.1);
}

#profile-section #delete-image-button {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: var(--danger);
    color: white;
    border: 2px solid white;
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.25rem;
    box-shadow: var(--shadow-dark);
    transition: var(--default-transition-timing-function);
}

#profile-section label {
    color: var(--info);
    cursor: pointer;
    transition: var(--default-transition-timing-function);
}

#profile-section button:hover,
#profile-section label:hover {
    color: var(--shadow-dark);
}

#profile-section input[type="submit"] {
    background-color: var(--info);
    color: var(--bg-light);
    border: 1px solid var(--info);
    border-radius: var(--radius);
    cursor: pointer;
    transition: var(--default-transition-timing-function);
    visibility: hidden;
}

#profile-section input[type="submit"]:hover {
    background-color: var(--bg-light);
    color: var(--info);
}


svg text {
    display: none;
}

svg:hover text {
    display: block;
}