body {
    background-image: url('/assets/patternpad.svg');
    background-repeat: repeat;
}

section {
    background-color: var(--bg);
    border-radius: var(--card-radius);
    box-shadow: var(--shadow-dark);
}

#profile-section button {
    background-color: inherit;
    color: var(--danger);
    border: none;
    cursor: pointer;
    transition: var(--default-transition-timing-function);
}

#profile-section img {
    width: 180px;
    aspect-ratio: 1/1;
    object-fit: cover;
    overflow: hidden;
}

#profile-section label {
    color: var(--info);
    cursor: pointer;
    transition: var(--default-transition-timing-function);
}

#profile-section input[type="submit"] {
    background-color: var(--info);
    color: var(--bg-light);
    border: 1px solid var(--info);
    padding: 0.5rem 1rem;
    border-radius: var(--radius);
    cursor: pointer;
    transition: var(--default-transition-timing-function);
    visibility: hidden;
}

#profile-section input[type="submit"]:hover {
    background-color: var(--bg-light);
    color: var(--info);
}

#profile-section button:hover,
#profile-section label:hover {
    color: var(--shadow-dark);
}

svg text {
    display: none;
}

svg:hover text {
    display: block;
}