/* !important è stato utilizzato solo nei casi limite in cui lo stile bootstrap non era sovrascrivibile  */

* {
    max-width: 100%;
    font-family: var(--font-family);
}

body {
    padding-top: 76px;
    min-width: 15.625rem;
    background-color: var(--bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text);
    font-weight: 400;
}

h1+p,
h2+p,
h3+p,
h4+p,
h5+p,
h6+p {
    color: var(--text-muted);
}

/* NAVBAR BASE */
nav {
    background: var(--bg) !important;
    box-shadow: var(--shadow-light);
}

/* LOGO TESTO */
footer span.logo,
nav span {
    font-size: 1.375 rem;
    font-weight: 600;
    color: var(--text);
}



nav>*,
footer>* {
    min-width: 0 !important;
}

nav ul {
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: var(--text);
    font-size: 1.063;
    border-radius: var(--card-radius);
    min-width: fit-content;
}

nav li a:hover {
    background: var(--secondary-text);
    color: var(--bg-light) !important;
}

/* BOTTONE LOGIN */
nav div.navbar-nav li:last-child a {
    background: var(--primary);
    font-weight: 600;
    text-decoration: none;
    border-radius: 50px;
    min-width: max-content;
    white-space: nowrap;
    display: inline-block;
}

nav div.navbar-nav li:last-child a img {
    width: 1.875rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    overflow: hidden;
    border-radius: 100%;
    box-shadow: var(--shadow-dark);
}

nav div.navbar-nav li:last-child a:hover {
    background: var(--primary-text);
    color: var(--bg-light)
}

#svgToggle,
#svgToggle:focus,
#svgToggle:active,
#svgToggle:focus-visible {
    background: none !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

footer div,
nav div {
    max-width: 81.25rem !important;
}

footer div:has(> svg),
nav div:has(> svg) {
    background: var(--primary);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 40%;
    transition: var(--default-transition-timing-function);
    color: var(--text)
}

.navbar-brand:hover div:has(>svg) {
    background: var(--primary-text);
    color: var(--bg-light);
}

.navbar-brand {
    transition: var(--default-transition-timing-function);
}

.navbar-brand:hover {
    transform: scale(1.05);
}

footer a,
nav a {
    text-decoration: none;
    color: inherit;
}

footer {
    box-shadow: var(--shadow-light);
    background-color: var(--bg-dark);
    border-top: 0.5px solid var(--border-muted);
}

footer span {
    font-weight: 600;
}

footer ul a:hover {
    color: var(--primary-text);
}

footer ul a,
footer p {
    font-weight: 300;
    font-size: 0.9em;
}

.px-12 {
    padding-inline: 12px !important;
}