:root {
    /* oklch light theme */

    --bg-dark: oklch(98.897% 0.01127 84.519);
    --bg: oklch(0.96 0.01 84);
    --bg-light: oklch(100% 0.00011 271.152);
    --text: oklch(0.15 0.02 84);
    --text-muted: oklch(0.4 0.02 84);
    --highlight: oklch(1 0.02 84);
    --border: oklch(100% 0.00011 271.152);
    --border-muted: oklch(0.7 0.02 84);
    --primary: oklch(0.8419 0.0807 160.82);
    --primary-shade: oklch(0.881 0.0503 164.39);
    --secondary: oklch(0.8279 0.1109 54.44);
    --secondary-shade: oklch(0.9349 0.0391 55.86);
    --tertiary: oklch(0.9265 0.0263 72.99);
    --tertiary--shade: oklch(0.9453 0.0175 71.28);
    --danger: oklch(0.5 0.05 30);
    --warning: oklch(0.5 0.05 100);
    --success: oklch(0.5 0.05 160);
    --info: oklch(0.5 0.05 260);

    --border-card: solid 0px;
    --border-top: solid 0px;

    --tag-text: hsl(0, 0%, 24%);

    --radius: 20px;

    --shadow-light: 0px 12px 12px #00000015;
    --shadow-dark: 0px 4px 4px #00000030;
    --shadow-combined: var(--shadow-light), var(--shadow-dark);
    --shadow-hover: 0px 16px 16px #00000040;

    --default-transition-timing-function: cubic-bezier(.4, 0, .2, 1);

    --font-family: ui-sans-serif,
        system-ui,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
    ;
}

body.dark {
    /* oklch dark theme [NOT ACCESSIBLE] */
    --bg-dark: oklch(0.1 0.01 84);
    --bg: oklch(0.15 0.01 84);
    --bg-light: oklch(0.2 0.01 84);
    --text: oklch(0.96 0.02 84);
    --text-muted: oklch(0.76 0.02 84);
    --highlight: oklch(0.5 0.02 84);
    --border: oklch(0.4 0.02 84);
    --border-muted: oklch(0.3 0.02 84);
    --primary: oklch(0.778 0.093 163.04);
    --primary-shade: oklch(64.91% 0.14991 156.181);
    --secondary: oklch(0.8279 0.1109 54.44);
    --secondary-shade: oklch(70.345% 0.19118 46.362);
    --danger: oklch(0.7 0.05 30);
    --warning: oklch(0.7 0.05 100);
    --success: oklch(0.7 0.05 160);
    --info: oklch(0.7 0.05 260);

    --border-card: solid 1px var(--border);
    --border-top: solid 1px var(--highlight);
}