div {
    max-width: 81.25rem !important;
}

#hero-section {
    width: 100%;
    margin-inline: auto;
}

section:nth-child(odd),
#hero-section {
    background-color: var(--bg);
}

section:nth-child(even) {
    background-color: var(--bg-dark);
}

#hero-section div:has(> svg) {
    background: var(--bg-light);
    border-radius: 50px;
    box-shadow: var(--shadow-combined);
}

#hero-section h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

#hero-section img {
    border-radius: var(--card-radius);
}

#hero-section span {
    font-weight: 600;
}

#hero-section div:has(> img) {
    max-width: 53.125rem !important;
}

#mission-section div:has(> svg) {
    background: var(--bg);
    border-radius: 50px;
    box-shadow: var(--shadow-light);
    height: fit-content;
}

#mission-section div:has(> h3) {
    background: var(--bglight);
    border-radius: var(--card-radius);
    box-shadow: var(--shadow-combined);
}

#mission-section span {
    font-weight: 600;
}

#mission-section p {
    color: var(--text) !important;
}

.value-card {
    border: 1px solid var(--border-muted);
    border-radius: var(--radius);
    background-color: var(--bg-light);
    transition: var(--default-transition-timing-function);
}

.value-card:hover {
    box-shadow: var(--shadow-combined);
}

.value-card div:has(> svg) {
    background: var(--bg);
    border-radius: 50px;
    box-shadow: var(--shadow-light);
}

#stats-section {
    background: var(--primary-text) !important;
    color: white !important;
}

#stats-section h2 {
    color: white !important;
}

#stats-section span {
    font-size: 2.5rem;
    font-weight: 600;
}


#section-ending {
    border: 1px solid var(--border-muted);
    background-color: var(--bg-light);
    box-shadow: var(--shadow-combined);
    border-radius: 3rem;
}

#section-ending a {
    background-color: var(--bg-light);
    color: var(--primary-text);
    border: 2px solid var(--primary-text);
    text-decoration: none;
    border-radius: 20px;
}

#section-ending a:hover {
    background-color: var(--primary-text);
    color: var(--bg-light);
    border: 2px solid var(--bg-light);
}


.team-user img {
    vertical-align: middle;
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
}