body {
    background-color: var(--bg-dark);
    padding-top: 0px !important;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main h1 {
    color: var(--primary-text);
    font-weight: 700;
    font-size: 5rem;
}

main h2 {
    color: var(--text);
    font-weight: 600;
    font-size: 2rem;
}

main p {
    text-wrap: balance;
    color: var(--text-muted);
    font-size: 1.25rem;
    text-align: center;
    max-width: 50%;
}

main svg {
    fill: var(--primary-text);
    stroke-width: 10px;
    stroke: var(--primary-text);
}

main a {
    display: inline-block;
    background-color: var(--primary);
    color: var(--bg-dark);
    text-decoration: none;
    border-radius: var(--radius);
    font-weight: 600;
    font-size: 1.2rem;
    transition: var(--default-transition-timing-function);
    box-shadow: var(--shadow-light);

}

main a:hover {
    background-color: var(--primary-text);
    transform: translateY(-3px);
}