@import '/css/components/searchbar.css';

main {
    background-color: var(--bg-dark);
}

main>:first-child,
main>:not(:first-child)>* {
    max-width: 1250px;
    margin-block: 10px;
    margin-inline: auto !important;
}

select {
    border: 1px solid var(--border-muted);
    background-color: var(--bg-light);
    border-radius: var(--radius);
    outline: none;
    transition: var(--default-transition-timing-function);
}

select:focus {
    outline: none;
    border: 1px solid var(--border-focused);
    outline: none;
    box-shadow: var(--shadow-focus);
}

form>div:last-child {
    background-color: var(--bg-light);
    border-radius: var(--card-radius);
    border: 1px solid var(--border-muted);
}

input[type="checkbox"] {
    width: 10px;
    height: 10px;
    appearance: none;
    /* -webkit-appearance: none;
    -moz-appearance: none; */
    background-color: var(--bg);
    border: 1px solid var(--border-muted);
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    margin: 5px;
}

/* Change the background color when checkbox is checked */
input[type="checkbox"]:checked {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    transition: transform var(--default-transition-timing-function);
}

form ul li:has(>input[type="checkbox"]:checked) {
    border: solid 1px var(--primary);
}



label {
    font-size: 16px;
}

form ul {
    list-style: none;
}

form ul li {
    border-radius: var(--card-radius);
    border: solid 1px var(--border-muted);
}

main>:not(:first-child) {
    background-color: var(--bg);
}

main>:nth-child(2) {
    border-top: 1px solid var(--border-muted);
}