main {
    background-color: var(--bg-dark);
}

main>:first-child,
main>:not(:first-child)>* {
    max-width: 1250px;
    margin-block: 10px;
    margin-inline: auto !important;
}

select {
    border: 1px;
    border-color: var(--bg-light);
    background-color: var(--bg-light);
    border-radius: var(--radius);
    outline: none;
    transition: var(--default-transition-timing-function);
}

select:focus {
    outline: none;
    border-width: 2px;
    border-color: var(--secondary);
    box-shadow: 0 0 0 5px var(--secondary-shade);
}

select {
    border-width: 2px;
    border-color: var(--bg-light);
    background-color: var(--bg-light);
    border-radius: var(--radius);
    outline: none;
    box-shadow: var(--shadow-light);
    transition: var(--default-transition-timing-function);
}

select:focus {
    outline: none;
    border-width: 2px;
    border-color: var(--tertiary);
    box-shadow: 0 0 0 5px var(--secondary-shade);
}

form>div:last-child {
    background-color: var(--bg-light);
    border-radius: var(--card-radius);
    border: 1px solid var(--border-muted);
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    appearance: none;
    /* -webkit-appearance: none;
    -moz-appearance: none; */
    background-color: var(--bg);
    border: 1px solid var(--border-muted);
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    margin: 5px;
}

/* Change the background color when checkbox is checked */
input[type="checkbox"]:checked {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    transition: transform var(--default-transition-timing-function);
}

/* Add a check mark when checked */
input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 2px;
    width: 6px;
    height: 12px;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    border-color: white;
    border-style: solid;
}

label {
    font-size: 16px;
}

form ul {
    list-style: none;
}

form ul li:not(:last-child) {
    padding-right: 15px;
    margin-right: 15px;
    margin-top: 10px;
    border-right: solid 1px var(--border-muted);
}

main>:not(:first-child) {
    background-color: var(--bg);
}

main>:nth-child(2) {
    border-top: 1px solid var(--border-muted);
}