.recipe-card>article,
.category-card>a {
    border-radius: var(--radius);
    box-shadow: var(--shadow-combined);
    transition: 0.4s var(--default-transition-timing-function);
    font-family: var(--font-family);
    color: var(--text);
}

/*------------------------------------*/
/*           Recipe Card              */
/*------------------------------------*/
.recipe-card article {
    width: 90%;
    background-color: var(--bg-light);
    overflow: hidden;
    border: var(--border);
    border-top: var(--border-top);
    position: relative;
}

.recipe-card article>h3 {
    transition: 0.4s var(--default-transition-timing-function);
    padding: 5px 3% 5px 3%;
    margin-top: 10px;
    font-weight: 600;
    font-size: 18px;
}

.recipe-card article>p,
.recipe-card article>ul {
    padding: 5px 3% 5px 3%;
}

.recipe-card article>ul>li>p {
    margin-bottom: 0px;
    padding: 0px 2%;
    font-size: small;
    font-weight: normal;
    color: var(--text);
}

.recipe-card article>div>img {
    transition: 0.4s var(--default-transition-timing-function);
}

.recipe-card article>div {
    overflow: hidden;
}

.recipe-card article:hover {
    box-shadow: var(--shadow-hover);
}

.recipe-card article:hover h3 {
    color: var(--primary);
}

.recipe-card article:hover div>img {
    transform: scale(1.03);
}

.recipe-card article ul {
    margin: 0px;
}

.recipe-card article>ul>li {
    margin: 5px, 0%;
    padding: 10px 2%;
    display: inline-block;
    padding: 1px 3%;
    border-radius: 500px;
    background-color: var(--primary-shade);
    color: var(--text-muted);
    text-align: center;
}

.recipe-card article>ul>li:first-child {
    background-color: var(--secondary-shade);
    color: var(--text-muted);
}

.recipe-card article span {
    font-weight: lighter;
    margin-left: 2px;
    font-size: smaller;
}

.save {
    width: 10%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-color: var(--bg-dark);
    position: absolute;
    top: 10px;
    right: 10px;
}

.save:hover {
    background-color: var(--bg-light);
}

/*------------------------------------*/
/*           Category Card            */
/*------------------------------------*/
.category-card {
    padding: 0px 0px;
    list-style-type: none;
}

.category-card>a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    font-size: medium;
    font-weight: 600;
}

.category-card>a>p {
    color: var(--text-muted);
    font-weight: lighter;
    font-size: small;
}

.category-card:nth-child(3n)>a {
    background-color: var(--primary);
}

.category-card:nth-child(3n+2)>a {
    background-color: var(--secondary);

}

.category-card:nth-child(3n+1)>a {
    background-color: var(--tertiary);
}

.category-card:nth-child(3n)>a>div:first-child {
    background-color: var(--primary-shade);
}

.category-card:nth-child(3n+2)>a>div:first-child {
    background-color: var(--secondary-shade);

}

.category-card:nth-child(3n+1)>a>div:first-child {
    background-color: var(--tertiary--shade);
}

.category-card>a>div:first-child {
    border-radius: var(--radius);
    margin: 20px auto 10px auto;
    width: 40%;
    color: var(--text-muted);
    aspect-ratio: 1/1;
    display: block;
}

.category-card>a:hover {
    box-shadow: var(--shadow-hover);
    transform: scale(1.03);
}

.category-card svg {
    width: 40%;
    aspect-ratio: 1/1;
}