/* !important è stato utilizzato solo nei casi limite in cui lo stile bootstrap non era sovrascrivibile  */
* {
    max-width: 100% !important;
}

body {
    min-width: 250px;
    background-color: #fBf6ef;
}

/* NAVBAR BASE */
nav {
    background: white !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
}

/* LOGO TESTO */
nav span {
    font-size: 22px;
    font-weight: 600;
    color: #333;
}

nav>*,
footer>* {
    min-width: 0 !important;
}

nav ul {
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: #333;
    font-size: 17px;
    border-radius: 20px;
}

nav li a:hover {
    background: #eee;
}

/* BOTTONE LOGIN */
nav div.navbar-nav>a:last-child {
    background: #8fd1b2;
    color: white;
    font-weight: 600;
    text-decoration: none;
    border-radius: 50px;
}

nav div.navbar-nav>a:last-child:hover {
    background: #7ac9a2;
}

#svgToggle,
#svgToggle:focus,
#svgToggle:active,
#svgToggle:focus-visible {
    background: none !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

footer div,
nav div,
#about-page div {
    max-width: 1300px !important;
}

footer div:has(> svg),
nav div:has(> svg) {
    background-color: #7ac9a2;
    width: 40px;
    height: 40px;
    border-radius: 40%;

}

.navbar-brand {
    transition: transform 0.2s ease;
}

.navbar-brand:hover {
    transform: scale(1.05);
}

footer a,
nav a {
    text-decoration: none;
    color: inherit;
}

footer {
    box-shadow: 0 -2px 4px rgba(0, 0, 0, .15);
}

footer {
    background-color: #fBf6ef;
}

footer span {
    font-weight: 600;
}

footer ul a:hover {
    color: #7ac9a2;
}

footer ul a,
footer p {
    font-weight: 300;
    font-size: 90%;
}

.px-12 {
    padding-inline: 12px !important;
}



/* ABOUT PAGE */
#about-page section:nth-child(odd) {
    background-color: #F6F8F2;
}

#about-page section:nth-child(even) {
    background-color: #FDFCFA;
}

#hero-section {
    margin-top: 50px;
}

#hero-section div:has(> svg) {
    background: #ffffff;
    border-radius: 50px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .08);
}

#hero-section h1 {
    font-size: 40px;
    font-weight: 700;
}

#hero-section img {
    border-radius: 2rem;
}

#hero-section span {
    font-weight: 600;
}

#hero-section div:has(> img) {
    max-width: 850px !important;
}

#mission-section div:has(> svg) {
    background: #EFF6F1;
    border-radius: 50px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .08);
    height: fit-content;
}

#mission-section div:has(> h3) {
    background: #EFF6F1;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .08);
}

#mission-section span {
    font-weight: 600;
}

.value-card {
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
    background-color: #ffffff;
    transition: box-shadow 0.3s ease;
}

.value-card:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, .15);
}

.value-card div:has(> svg) {
    background: #EFF6F1;
    border-radius: 50px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .08);
}

#stats-section {
    background: #198754 !important;
    color: white;
}

#stats-section span {
    font-size: 40px;
    font-weight: 600;
}

#stats-section p {
    opacity: 80%;
}

#section-ending {
    border: 1px solid #dee2e6;
    background-color: #f8f9fa;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    border-radius: 3rem;
}

#section-ending a {
    background-color: white;
    color: #198754;
    border: 2px solid #198754;
    text-decoration: none;
    border-radius: 20px;
}

#section-ending a:hover {
    background-color: #198754;
    color: white;
    border: 2px solid white;
}


.team-user img {
    vertical-align: middle;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

/* RECIPES PAGE */
#recipes-page input[type=search] {
    border-width: 0;
}

#recipes-page input[type=search]:focus {
    outline-width: 0;
}

#recipes-page #btn_filter {
    border-radius: 16px;
    background-color: white;
    color: black;
    border: 1px ridge gray;
}

#recipes-page #btn_filter:hover {
    background-color: orange;
    color: white;
    border: 1px ridge white;
}

#recipes-page div:has(> input[type=search]) {
    border-radius: 16px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#recipes-page div:has(> input[type=search]:focus) {
    border-radius: 16px;
}

#recipes-page input[type=submit] {
    border: 1px ridge rgb(69, 193, 69);
    background-color: rgb(69, 193, 69);
    color: white;
    border-radius: 0 16px 16px 0;

}

#recipes-page input[type=submit]:hover {
    border: 1px ridge rgb(44, 156, 6);
    background-color: rgb(44, 156, 6);
    color: white;
}

/* SINGLE PAGE RECIPE */
#single-recipe-page div {
    max-width: 1050px !important;
    margin: auto;
}

#recipe-info {
    margin-top: 80px;
}

#recipe-info div>a {
    color: currentColor;
    text-decoration: none;
    border-radius: 26px;
    border: none;
}

#recipe-info div>a:hover {
    color: currentColor;
    text-decoration: none;
    background-color: gainsboro;
}

#recipe-info img {
    border-radius: 2rem;
    aspect-ratio: 16/9;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

#recipe-info div:has(>img) {
    position: relative;
}

#recipe-info div:has(>form) {
    position: absolute;
    top: 20px;
    right: 20px;
}

#recipe-info svg {
    aspect-ratio: 1/1;
}

#recipe-info label {
    border-radius: 50%;
    background-color: #F4E8D9;
}

#recipe-info label:hover {
    background-color: gray;
}

#recipe-info ul,
#recipe-info dl,
#aside ul {
    list-style-type: none;
}


#recipe-info dl>div>div {
    background-color: #F8F2E9;
    border-radius: 16px;
}

#recipe-info li:has(>a) {
    border-radius: 16px;
    background-color: #F4E8D9;
}

#aside {
    position: sticky;
    top: 120px;
    height: fit-content !important;
}

@media screen and (max-width: 767.5px) {
    #aside {
        position: static;
        max-height: none;
    }
}



#aside input[type="checkbox"]:checked+label {
    text-decoration: line-through;
}

#aside>div,
#instruction>div,
#student-tips>div,
#nutrition-info>div {
    /* border: 2px solid #E6D3B3; */
    border-radius: 16px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

#aside label {
    word-wrap: break-word;
    display: inline-block;
    max-width: calc(100% - 30px);
}

#instruction ol {
    list-style: none;
    counter-reset: item;
    padding-left: 0;
}

#instruction li {
    counter-increment: item;
    margin-bottom: 15px;
    gap: 15px;
}

#instruction li:before {
    content: counter(item);
    background: lightblue;
    border-radius: 50%;
    color: white;
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-weight: bold;
}

#nutrition-info dl {
    list-style-type: none;
}

#nutrition-info {
    margin-bottom: 60px;
}

#single-recipe-page {
    background-color: #FDFCFA;
}