.modal-content {
    width: fit-content;
    background-color: transparent;
    border: none;
}

.modal-dialog {
    width: fit-content;
    margin-inline: auto;
}

#chat-open-button {
    background-color: var(--primary-text);
    border: 1px solid transparent;
    border-radius: 100%;
    aspect-ratio: 1/1;
    transition: var(--default-transition-timing-function);
}

#chat-open-button:hover {
    transform: translateY(-3px);
}

#chatModal.modal.fade.show,
.modal-backdrop {
    max-width: none !important;
}

#chat-container {
    max-width: 548px;
    height: 90vh;
    background: var(--bg);
    border-radius: var(--card-radius);
    box-shadow: var(--shadow-dark);
}

#chat-title {
    border-radius: var(--card-radius) var(--card-radius) 0 0;
    border-bottom: var(--border-card);
    background: var(--bg-dark);
}

#chat-title img {
    width: 48px;
    height: 48px;
    overflow: hidden;
    border-radius: 50%;
}

#chat-title button {
    text-decoration: none;
    color: var(--text-muted);
    font-weight: 600;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: var(--default-transition-timing-function);
}

#chat-title button:hover {
    color: var(--danger);
}

#chat-title h1 {
    font-size: 18px;
    font-weight: 600;
    color: var(--text);
}

#chat-title h2 {
    font-size: 13px;
    font-weight: 400;
    color: var(--text);
}

::-webkit-scrollbar {
    display: none;
}

#chat-content {
    flex: 1;
    overflow-y: auto;
    flex-direction: column;
    background: var(--bg);
    border: var(--border-muted);
}

#chat-content>.other>p {
    max-width: 75%;
    border-radius: 16px;
    background: var(--bg-dark);
    color: var(--text);
    border-bottom-left-radius: 0;
    box-shadow: var(--shadow-combined);
    word-wrap: break-word;
}

#chat-content>.user>p {
    max-width: 75%;
    border-radius: 16px;
    background-color: var(--primary-text);
    color: var(--bg-light);
    border-bottom-right-radius: 0;
    box-shadow: var(--shadow-combined);
    word-wrap: break-word;
}

#message-box {
    background: var(--bg-dark);
    border-radius: 0 0 var(--card-radius) var(--card-radius);
    border-top: var(--border-card);
}

#message-box textarea {
    background-color: inherit;
    border-radius: var(--radius);
    outline: none;
    border: 1px solid transparent;
    resize: none;
}

#message-box div:has(textarea) {
    background-color: inherit;
    border-radius: var(--radius);
    transition: var(--default-transition-timing-function);
    outline: none;
    border: var(--border-card);
}

#message-box div:has(textarea:focus) {
    outline: none;
}

#message-box input[type="button"] {
    background: var(--primary-text);
    border: none;
    color: var(--bg);
    cursor: pointer;
    border-radius: 0 var(--radius) var(--radius) 0;
    transition: var(--default-transition-timing-function);
    box-shadow: var(--shadow-combined);
}

#message-box input[type="button"]:hover {
    transform: translateY(-2px);
}

/* Pulsante chat fixed in basso a destra */
#chat-open-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
}