@import url("general-card.css");

/*------------------------------------*/
/*           Recipe Card              */
/*------------------------------------*/
.recipe-card {
    margin-bottom: 20px;
}

.recipe-card article {
    width: 92%;
    background-color: var(--bg-light);
    overflow: hidden;
    border-bottom: var(--border-card);
    position: relative;
    border-top: 0px;
}

.recipe-card article h3 {
    transition: var(--default-transition-timing-function);
    padding: 5px 0%;
    margin-block: 0px;
    font-weight: 600;
    font-size: 18px;
}

.recipe-card article ul {
    padding: 5px 0%;
    margin-bottom: 5px;
}

.recipe-card article ul>li {
    margin-top: 5px;
    margin-right: 2%;
    padding: 10px 0%;
    display: inline-block;
    padding: 1px 3%;
    border-radius: 500px;
    font-size: small;
    font-weight: normal;
    text-align: center;
    color: var(--text);
}


.recipe-card article div>img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    transition: var(--default-transition-timing-function);
}

.recipe-card article>div {
    overflow: hidden;
}

.recipe-card article:hover {
    box-shadow: var(--shadow-hover);
}

.recipe-card article:hover h3 {
    color: var(--primary-text);
}

.recipe-card h3:hover {
    cursor: pointer;
}

.recipe-card article:hover div>img {
    transform: scale(1.1);
}

.recipe-card article ul>li:nth-child(3n) {
    background-color: var(--tertiary);
}

.recipe-card article ul>li:nth-child(3n+2) {
    background-color: var(--secondary);
}

.recipe-card article ul>li:nth-child(3n+1) {
    background-color: var(--primary);
}

.recipe-card article span {
    font-weight: lighter;
    margin-left: 2px;
    font-size: smaller;
}

.recipe-card article a {
    text-decoration: underline;
    font-size: medium;
    font-weight: 400;
    margin-top: auto;
    color: var(--text);
    transition: var(--default-transition-timing-function);
}

.recipe-card article a:hover {
    color: var(--primary-text);
}

.recipe-card>article>div:not(:last-child) {
    margin-bottom: 10px;
}

.recipe-card>article>button {
    width: 10%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-color: var(--bg-dark);
    position: absolute;
    border: 0px;
    margin: 0px !important;
}

.recipe-card>article>button:hover {
    background-color: var(--bg-light);
}

.recipe-card>article>button:last-of-type {
    top: 10px;
    right: 10px;
}

.recipe-card>article>button>svg[fill="currentColor"] {
    color: var(--primary);
}

.recipe-card>article>button>svg[fill="transparent"] {
    color: var(--text);
}

.recipe-card article>:not(:first-child, :last-child, :nth-child(2)) {
    margin-bottom: 10px;
}

.recipe-card article>:not(:first-child, :last-child) {
    margin-inline: 7%;
}

.recipe-card>article>.innerCard {
    margin-inline: 7%;
}

.recipe-card>article>div:has(span) {
    color: var(--text-muted);
}

@media (min-width: 576px) and (max-width: 768px) {
    .recipe-card>article>div:last-child {
        width: 5%;
    }
}