article.review {
    border-radius: var(--card-radius);
    background-color: var(--bg-dark);
    border: var(--border-card);
    margin-bottom: 15px;
}

article.review span {
    color: var(--text-muted);
}

article.review a,
article.review h3 {
    color: var(--text);
    font-weight: 500;
    margin: 0px;
}

article.review a {
    font-size: 1rem !important;
}

article.review h3 {
    font-size: 1.2rem !important;
    font-weight: bold !important;
}

article.review button {
    color: var(--danger);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    margin: 0px;
    background-color: transparent;
    border: none !important;
    outline-color: transparent;
    transition: var(--default-transition-timing-function);
}

article.review button:hover {
    text-decoration: underline;
}

article.review time {
    color: var(--text-muted);
    font-size: 0.875rem;
    font-weight: 400;
}

article.review p {
    margin-block: 5px;
}

article.review > div {
    color: var(--text-muted);
}

article.review > div:first-of-type > div {
    color: var(--secondary-text);
}