main div:has(>input[type=search]) {
    border-radius: var(--radius);
    border: 1px solid var(--border-muted);
    outline: none;
    transition: var(--default-transition-timing-function);
    background-color: var(--bg-light);
}

main input[type=search] {
    border: none;
    background: none;
}

main div:has(>input[type=search]:focus) {
    border: 1px solid var(--primary);
    box-shadow: 0 0 0 3px var(--primary-shade);
}

main input[type=search]:focus {
    border: none;
    background: none;
    outline: none;
}

main:has(> input[type=search]) {
    background-color: var(--bg-dark);
}

main:has(> input[type=search]:focus) {
    border-radius: 16px;
}

main form:first-of-type input[type=submit] {
    border: 0px;
    background-color: var(--primary);
    border-radius: var(--radius);
    transition: var(--default-transition-timing-function);
    box-shadow: var(--shadow-combined);
    color: var(--text);
    padding-block: 14px;
}

main form:first-of-type input[type=submit]:hover {
    /* border: 1px ridge var(--primary-text); */
    background-color: var(--primary-text);
    box-shadow: var(--shadow-hover);
    color: var(--bg-light);
}