main input[type=search] {
    border-radius: var(--radius);
    border-width: 2px;
    border-color: var(--bg-light);
    border-style: solid;
    outline: none;
    transition: var(--default-transition-timing-function);
    background-image: url('/assets/search.svg');
    background-position: 3% 50%;
    background-repeat: no-repeat;
    padding-block: 14px;
    padding-inline: 6%;
}

main input[type=search]:focus {
    border-width: 2px;
    border-color: var(--primary);
    box-shadow: 0 0 0 3px var(--primary-shade);
}

main:has(> input[type=search]) {
    background-color: var(--bg-dark);
}

main:has(> input[type=search]:focus) {
    border-radius: 16px;
}

main form:first-of-type input[type=submit] {
    border: 0px;
    background-color: var(--primary);
    border-radius: var(--radius);
    transition: var(--default-transition-timing-function);
    box-shadow: var(--shadow-combined);
    color: var(--text);
    padding-block: 14px;
}

main form:first-of-type input[type=submit]:hover {
    /* border: 1px ridge var(--primary-text); */
    background-color: var(--primary-text);
    box-shadow: var(--shadow-hover);
    color: var(--bg-light);
}

@media (min-width: 0px) and (max-width: 768px) {
    main input[type=search] {
        padding-inline: 10% 4%;
        background-position: 5% 50%;
    }
}