@import '/css/components/review.css';

div {
    max-width: 1000px !important;
}

#recipe-info {
    margin-top: 80px;
}

#recipe-info div>a {
    color: currentColor;
    text-decoration: none;
    border-radius: var(--card-radius);
    border: none;
}

#recipe-info div>a:hover {
    color: currentColor;
    text-decoration: none;
    background-color: var(--bg-dark);
}

#recipe-info img {
    border-radius: 2rem;
    aspect-ratio: 16/9;
    box-shadow: var(--text-muted) 0px 5px 8px 0px;

}

#recipe-info div:has(>img) {
    position: relative;
}

#recipe-info>div>div>div {
    position: absolute;
    right: 20px;
    top: 20px;
}

#recipe-info svg {
    aspect-ratio: 1/1;
}

#recipe-info label {
    border-radius: 50%;
    background-color: var(--bg);
}

#recipe-info label:hover {
    background-color: var(--bg-dark);
}

#recipe-info ul,
#recipe-info dl,
#aside ul {
    list-style-type: none;
}

#recipe-info ul>li>div,
#recipe-info ul:first-of-type li {
    border-radius: var(--card-radius);
}

#recipe-info ul:first-of-type li:nth-child(3n) {
    background-color: var(--tertiary);
}

#recipe-info ul:first-of-type li:nth-child(3n+2) {
    background-color: var(--secondary);
}

#recipe-info ul:first-of-type li:nth-child(3n+1) {
    background-color: var(--primary);
}

#recipe-info ul:last-of-type>li>div>h2 {
    color: var(--text-muted);
}

#recipe-info ul:last-of-type>li:nth-child(1)>div {
    background-color: var(--secondary-shade);
    border: 1px solid var(--secondary);
}

#recipe-info ul:last-of-type>li:nth-child(2)>div {
    background-color: var(--primary-shade);
    border: 1px solid var(--primary);
}

#recipe-info ul:last-of-type>li:nth-child(3)>div {
    background-color: var(--tertiary-shade);
    border: 1px solid var(--tertiary);
}

#recipe-info ul:last-of-type>li:nth-child(4)>div {
    background-color: var(--primary-shade);
    border: 1px solid var(--primary);
}

#recipe-info ul:last-of-type>li:nth-child(1)>div svg {
    color: var(--secondary-text);
}

#recipe-info ul:last-of-type>li:nth-child(2)>div svg {
    color: var(--primary-text);
}

#recipe-info ul:last-of-type>li:nth-child(3)>div svg {
    color: var(--tertiary-text);
}

#recipe-info ul:last-of-type>li:nth-child(4)>div svg {
    color: var(--primary-text);
}

#recipe-info ul h2 {
    font-size: 1rem;
}

#aside {
    position: sticky;
    top: 120px;
    height: 100% !important;
}

@media screen and (max-width: 767.5px) {
    #aside {
        position: static;
        max-height: none;
    }
}



#aside input[type="checkbox"]:checked+label {
    text-decoration: line-through;
}

#aside>div,
#instruction>div,
#reviews>div {
    /* border: 2px solid #E6D3B3; */
    border-radius: 16px;
    background-color: var(--bg-light);
    box-shadow: var(--shadow-combined);
    border: var(--border-card);
}



#aside label {
    word-wrap: break-word;
    display: inline-block;
    max-width: calc(100% - 30px);
}

#instruction ol {
    list-style: none;
    counter-reset: item;
    padding-left: 0;
}

#instruction li {
    counter-increment: item;
    margin-bottom: 15px;
    gap: 15px;
}

#instruction li:before {
    content: counter(item);
    background: var(--primary);
    border-radius: 50%;
    color: var(--bg-light);
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

body {
    background-color: var(--bg);
}

.stars {
    display: flex;
    flex-direction: row-reverse;
    /* Importante! */
    justify-content: flex-end;
}

.stars label svg {
    cursor: pointer;
    fill: none;
    stroke: var(--text);
    transition: var(--default-transition-timing-function);
}

.stars label:hover svg {
    transform: scale(1.15);
}

.stars label:hover svg,
.stars label:hover~label svg {
    fill: var(--secondary-text);
    stroke: var(--secondary-text);
}

.stars input[type="radio"]:checked~label svg {
    fill: var(--secondary-text);
    stroke: var(--secondary-text);
}

.stars label svg {
    width: 24px;
    height: 24px;
}

form:has(.stars) {
    background-color: var(--bg);
    border-radius: var(--card-radius);
    border: var(--border-card);
}

#reviewText {
    border-radius: var(--radius);
    transition: var(--default-transition-timing-function);
    outline: none;
    border: 1px solid var(--border-muted);
    min-height: auto;
    width: 100%;
    overflow: auto;
    resize: none;
}

#reviewText:focus {
    border: 1px solid var(--border-focused);
    outline: none;
    box-shadow: var(--shadow-focus);
}

#reviews #login-adv {
    border-radius: var(--radius);
    border: 1px solid var(--border-muted);
    min-height: auto;
    background-color: var(--bg);
}

#reviews #login-adv a {
    font-weight: 600;
    color: var(--text);
    border-radius: var(--card-radius);
    text-decoration: none;
    background-color: tomato;
    border: 1px solid var(--border-muted);
    background-color: var(--bg-light);
    transition: var(--default-transition-timing-function);
}

#reviews #login-adv a:hover {
    color: white;
    border: 1px solid var(--secondary-text);
    background-color: var(--secondary);
}