div {
    max-width: 1300px !important;
}

#recipe-info {
    margin-top: 80px;
}

#recipe-info div>a {
    color: currentColor;
    text-decoration: none;
    border-radius: var(--card-radius);
    border: none;
}

#recipe-info div>a:hover {
    color: currentColor;
    text-decoration: none;
    background-color: var(--bg-dark);
}

#recipe-info img {
    border-radius: 2rem;
    aspect-ratio: 16/9;
    box-shadow: var(--text-muted) 0px 5px 8px 0px;

}

#recipe-info div:has(>img) {
    position: relative;
}

#recipe-info div:has(>form) {
    position: absolute;
    top: 20px;
    right: 20px;
}

#recipe-info svg {
    aspect-ratio: 1/1;
}

#recipe-info label {
    border-radius: 50%;
    background-color: var(--bg);
}

#recipe-info label:hover {
    background-color: var(--bg-dark);
}

#recipe-info ul,
#recipe-info dl,
#aside ul {
    list-style-type: none;
}


#recipe-info dl>div>div,
#recipe-info li:has(>a) {
    background-color: var(--bg-dark);
    border-radius: var(--card-radius);
}

#aside {
    position: sticky;
    top: 120px;
    height: 100% !important;
}

@media screen and (max-width: 767.5px) {
    #aside {
        position: static;
        max-height: none;
    }
}



#aside input[type="checkbox"]:checked+label {
    text-decoration: line-through;
}

#aside>div,
#instruction>div,
#student-tips>div,
#nutrition-info>div {
    /* border: 2px solid #E6D3B3; */
    border-radius: 16px;
    background-color: var(--bg-light);
    box-shadow: var(--shadow-combined);
}

#aside label {
    word-wrap: break-word;
    display: inline-block;
    max-width: calc(100% - 30px);
}

#instruction ol {
    list-style: none;
    counter-reset: item;
    padding-left: 0;
}

#instruction li {
    counter-increment: item;
    margin-bottom: 15px;
    gap: 15px;
}

#instruction li:before {
    content: counter(item);
    background: var(--primary);
    border-radius: 50%;
    color: var(--bg-light);
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-weight: bold;
}

#nutrition-info dl {
    list-style-type: none;
}


body {
    background-color: var(--bg);
}