body {
    background-image: url('/assets/patternpad.svg');
    background-repeat: repeat;

}

main {
    max-width: 50rem;
    margin: 0 auto;
}

#back-button {
    color: currentColor;
    text-decoration: none;
    border-radius: var(--card-radius);
    border: none;
}

#back-button:hover {
    color: currentColor;
    text-decoration: none;
    background-color: var(--bg-dark);
}

form {
    background: var(--bg-light);
    border-radius: var(--card-radius);
    box-shadow: var(--shadow-dark);
}

label,
span {
    font-weight: 600;
    font-size: 0.95rem;
}

input[type="text"],
input[type="number"],
input[type="file"],
select,
textarea {
    border-radius: var(--radius);
    transition: var(--default-transition-timing-function);
    outline: none;
    border: 1px solid var(--border-muted);
    min-height: auto;
    overflow: auto;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="file"]:focus,
select:focus,
textarea:focus {
    border: 1px solid var(--border-focused);
    outline: none;
    box-shadow: var(--shadow-focus);
}

select {
    cursor: pointer;
}

select option:first-child {
    display: none;
}

option {
    border-radius: var(--card-radius);
}

input[type="file"] {
    padding: 0.75rem;
    cursor: pointer;
}

input[type="file"]::file-selector-button {
    background: var(--primary);
    color: var(--text);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: var(--radius);
    cursor: pointer;
    font-weight: 600;
    margin-right: 1rem;
    transition: var(--default-transition-timing-function);
}

input[type="file"]::file-selector-button:hover {
    background: var(--primary-text);
    color: var(--bg-light)
}

ul[id="ingredients"],
ul[id="steps"] {
    list-style: none;
    margin: 0;
    padding: 0;
}



#tag-list li {
    background: var(--bg-dark);
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: var(--card-radius);
    margin-right: 8px;
    font-size: 0.9rem;
}

#tag-list li button {
    background: transparent;
    border: none;
    color: var(--text-muted);
    font-weight: 600;
    margin-left: 8px;
    cursor: pointer;
    border-radius: 100%;
    aspect-ratio: 1/1;
    transition: var(--default-transition-timing-function);
}

#tag-list li button:hover,
#ingredients button:hover,
#steps button:hover {
    color: var(--danger);
}

#add-ingredients-slot,
#add-step-slot,
input[type="submit"] {
    background: var(--primary);
    color: var(--text);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: var(--default-transition-timing-function);
    font-size: 0.75rem;
}

#add-ingredients-slot:hover,
#add-step-slot:hover,
input[type="submit"]:hover {
    background: var(--primary-text);
    color: var(--bg-light);
}

input[type="submit"] {
    font-size: large !important;
}

#ingredients button,
#steps button {
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: none;
    color: var(--text-muted);
    font-weight: 600;
    margin-left: 8px;
    cursor: pointer;
    border-radius: 100%;
    aspect-ratio: 1/1;
    transition: var(--default-transition-timing-function);
}

textarea {
    resize: none
}