@import "root.css";

body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1600' height='900' preserveAspectRatio='none' viewBox='0 0 1600 900'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1003%26quot%3b)' fill='none'%3e%3crect width='1600' height='900' x='0' y='0' fill='rgba(255%2c 231%2c 152%2c 1)'%3e%3c/rect%3e%3cg filter='url(%23shadow)'%3e%3ccircle r='633' cx='379.21' cy='775.19' fill='%23fff0c1'%3e%3c/circle%3e%3ccircle r='443.1' cx='379.21' cy='775.19' fill='%23fffae9'%3e%3c/circle%3e%3ccircle r='253.2' cx='379.21' cy='775.19' fill='white'%3e%3c/circle%3e%3c/g%3e%3cg filter='url(%23shadow)'%3e%3ccircle r='870' cx='1255.82' cy='180.05' fill='%23fff0c1'%3e%3c/circle%3e%3ccircle r='609' cx='1255.82' cy='180.05' fill='%23fffae9'%3e%3c/circle%3e%3ccircle r='348' cx='1255.82' cy='180.05' fill='white'%3e%3c/circle%3e%3c/g%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1003'%3e%3crect width='1600' height='900' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cfilter id='shadow' x='-50%25' y='-50%25' width='200%25' height='200%25'%3e%3cfeDropShadow dx='0' dy='0' stdDeviation='10' flood-opacity='0.3' flood-color='black'%3e%3c/feDropShadow%3e%3c/filter%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    background-repeat: no-repeat;
}

form {
    max-width: 800px;
    margin: 0 auto;
    background: var(--bg-light);
    border-radius: var(--card-radius);
    box-shadow: var(--shadow-dark);
}

label {
    font-weight: 600;
    font-size: 0.95rem;
}

input[type="text"],
input[type="number"],
input[type="file"],
select,
textarea {
    border-radius: var(--radius);
    transition: var(--default-transition-timing-function);
    outline: none;
    border: var(--border-muted);
    min-height: auto;
    overflow: auto;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="file"]:focus,
select:focus,
textarea:focus {
    border: var(--border-focused);
    outline: none;
    box-shadow: var(--shadow-focus);
}

select {
    cursor: pointer;
}

option {
    border-radius: var(--card-radius);
}

input[type="file"] {
    padding: 0.75rem;
    cursor: pointer;
}

input[type="file"]::file-selector-button {
    background: var(--primary);
    color: var(--bg-light);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: var(--radius);
    cursor: pointer;
    font-weight: 600;
    margin-right: 1rem;
    transition: var(--default-transition-timing-function);
}

input[type="file"]::file-selector-button:hover {
    background: var(--primary-text);
}

ul[id="ingredients"],
ul[id="steps"] {
    list-style: none;
    margin: 0;
    padding: 0;
}

#tag-list li {
    background: var(--bg-dark);
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: var(--card-radius);
    margin-right: 8px;
    font-size: 0.9rem;
}

#tag-list li button {
    background: transparent;
    border: none;
    color: var(--text-muted);
    font-weight: 600;
    margin-left: 8px;
    cursor: pointer;
    border-radius: 100%;
    aspect-ratio: 1/1;
    transition: var(--default-transition-timing-function);
}

#tag-list li button:hover,
#ingredients button:hover,
#steps button:hover {
    color: var(--danger);
}

#add-ingredients-slot,
#add-step-slot {
    background: var(--primary);
    color: var(--bg-light);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: var(--default-transition-timing-function);
    font-size: smaller;
}

#add-ingredients-slot:hover,
#add-step-slot:hover {
    background: var(--primary-text);
}

#ingredients button,
#steps button {
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    color: var(--text-muted);
    font-weight: 600;
    margin-left: 8px;
    cursor: pointer;
    border-radius: 100%;
    aspect-ratio: 1/1;
    transition: var(--default-transition-timing-function);
}