@import '/css/components/category-card.css';
@import '/css/components/searchbar.css';

body {
    margin-top: 0px;
}

/*------------------------------------*/
/*            Heading Page            */
/*------------------------------------*/

main h1 {
    font-size: 3.625rem;
}

main>:first-child p {
    font-size: 1.125rem;
    color: var(--text-muted);
}


main header a {
    border-width: 1px;
    border-radius: var(--card-radius);
    border-color: var(--border-muted);
    background-color: var(--bg-light);
    border-style: solid;
    text-decoration: none;
    color: var(--text);
    transition: var(--default-transition-timing-function);
}

main header a:hover {
    background-color: var(--secondary-text);
    border-color: var(--secondary-text);
    color: var(--bg-light);
}

main header>div:last-child>div {
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: var(--card-radius);
    box-shadow: 0 25px 50px -12px #00000040;
}

main header>div:last-child img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

main>*:not(:first-child),
main>:first-child>* {
    max-width: 78.125rem;
    margin-block: 10px;
    margin-inline: auto !important;
    /* Overrides bootstrap styles */
}

main>:first-child {
    background-color: var(--bg-dark);
}

main>* {
    padding-block: 60px;
}

main>:last-child>div {
    border: var(--border-muted);
    background-color: var(--primary-text);
    box-shadow: var(--shadow-combined);
    color: var(--bg-light);
    border-radius: 3rem;
    width: 95%;
    margin: auto;
}

main>:last-child p {
    color: var(--bg-light);
}

main>:last-child a {
    background-color: var(--bg-light);
    color: var(--text);
    border: 2px solid var(--primary-text);
    text-decoration: none;
    border-radius: 20px;
    transition: var(--default-transition-timing-function);
}

main>:last-child a:hover {
    background-color: var(--secondary-text);
    color: var(--bg-light);
    border: 2px solid var(--secondary-text);
}

main>section:last-of-type h2 {
    color: var(--bg-light);
}

@media (min-width: 0px) and (max-width: 768px) {
    main h1 {
        font-size: 2.5rem;
    }

    main header form:last-of-type>input[type=submit] {
        padding-inline: 10% 2%;
    }
}