@import "../../root.css";

body {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

body>div {
    height: 100vh;
}

.modal-dialog,
.modal-content {
    width: fit-content;
    background-color: transparent;
    border: none;
}

#chat-container {
    width: 448px;
    height: 90vh;
    background: var(--bg);
    border-radius: var(--card-radius);
    box-shadow: var(--shadow-dark);
}

#chat-title {
    border-radius: var(--card-radius) var(--card-radius) 0 0;
    border: var(--border-muted);
    background: var(--bg-dark);
}

#chat-title img {
    width: 48px;
    height: 48px;
    overflow: hidden;
    border-radius: 50%;
}

#chat-title button {
    text-decoration: none;
    color: var(--text-muted);
    font-weight: 600;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: var(--default-transition-timing-function);
}

#chat-title button:hover {
    color: var(--danger);
}

#chat-title h1 {
    font-size: 18px;
    font-weight: 600;
    color: var(--text);
}

#chat-title h2 {
    font-size: 13px;
    font-weight: 400;
    color: var(--text);
}

::-webkit-scrollbar {
    display: none;
}

#chat-content {
    flex: 1;
    overflow-y: auto;
    flex-direction: column;
    background: var(--bg);
    border: var(--border-muted);
}

#chat-content>.other>p {
    max-width: 75%;
    border-radius: 16px;
    background: var(--bg-dark);
    color: var(--text);
    border-bottom-left-radius: 0;
    box-shadow: var(--shadow-combined);
    word-wrap: break-word;
}

#chat-content>.user>p {
    max-width: 75%;
    border-radius: 16px;
    background-color: var(--primary-text);
    color: var(--bg-light);
    border-bottom-right-radius: 0;
    box-shadow: var(--shadow-combined);
    word-wrap: break-word;
}

#message-box {
    background: var(--bg-dark);
    border-radius: 0 0 var(--card-radius) var(--card-radius);
    border: var(--border-muted);
}

#message-box textarea {
    background-color: inherit;
    border-radius: var(--radius);
    outline: none;
    border: 1px solid transparent;
    resize: none;
}

#message-box div:has(textarea) {
    background-color: inherit;
    border-radius: var(--radius);
    transition: var(--default-transition-timing-function);
    outline: none;
    border: 1px solid transparent;
}

#message-box div:has(textarea:focus) {
    border: var(--border-focused);
    outline: none;
    box-shadow: var(--shadow-focus);
}

#message-box input[type="submit"] {
    background: var(--primary-text);
    border: none;
    color: var(--bg);
    cursor: pointer;
    border-radius: var(--card-radius);
    transition: var(--default-transition-timing-function);
    box-shadow: var(--shadow-combined);
}

#message-box input[type="submit"]:hover {
    transform: translateY(-2px);
}